# Performing Principal Component Analysis (PCA) - Lab

## Introduction

Now that you have high level overview of PCA as well as some of the details in the algorithm itself, its time to practice implementing PCA on your own using the NumPy package. 

## Objectives

You will be able to:
    
* Implement PCA from scratch using NumPy

## Import the Data

To start, import the data stored in the file 'foodusa.csv'.

In [5]:
#Your code here
import pandas as pd
import numpy as np
df=pd.read_csv('foodusa.csv',index_col=0)
print(df.shape)
df

(23, 5)

               Bread  Burger  Milk  Oranges  Tomatoes
City
ATLANTA         24.5    94.5  73.9     80.1      41.6
BALTIMORE       26.5    91.0  67.5     74.6      53.3
BOSTON          29.7   100.8  61.4    104.0      59.6
BUFFALO         22.8    86.6  65.3    118.4      51.2
CHICAGO         26.7    86.7  62.7    105.9      51.2
CINCINNATI      25.3   102.5  63.3     99.3      45.6
CLEVELAND       22.8    88.8  52.4    110.9      46.8
DALLAS          23.3    85.5  62.5    117.9      41.8
DETROIT         24.1    93.7  51.5    109.7      52.4
HONALULU        29.3   105.9  80.2    133.2      61.7
HOUSTON         22.3    83.6  67.8    108.6      42.4
KANSAS CITY     26.1    88.9  65.4    100.9      43.2
LOS ANGELES     26.9    89.3  56.2     82.7      38.4
MILWAUKEE       20.3    89.6  53.8    111.8      53.9
MINNEAPOLIS     24.6    92.2  51.9    106.0      50.7
NEW YORK        30.8   110.7  66.0    107.3      62.6
PHILADELPHIA    24.5    92.3  66.7     98.0      61.7
PITTSBURGH      26.2    95.4  60.2    117.1      49.3
ST LOUIS        26.5    92.4  60.8    115.1      46.2
SAN DIEGO       25.5    83.7  57.0     92.8      35.4
SAN FRANCISCO   26.3    87.1  58.3    101.8      41.5
SEATTLE         22.5    77.7  62.0     91.1      44.9
WASHINGTON DC   24.2    93.8  66.0     81.6      46.2

## Normalize the Data

Next, normalize your data by subtracting the feature mean from each of the columns

In [6]:
#Your code here
df=df-df.mean()
df

                  Bread     Burger       Milk    Oranges   Tomatoes
City
ATLANTA       -0.791304   2.643478  11.604348 -22.891304  -7.165217
BALTIMORE      1.208696  -0.856522   5.204348 -28.391304   4.534783
BOSTON         4.408696   8.943478  -0.895652   1.008696  10.834783
BUFFALO       -2.491304  -5.256522   3.004348  15.408696   2.434783
CHICAGO        1.408696  -5.156522   0.404348   2.908696   2.434783
CINCINNATI     0.008696  10.643478   1.004348  -3.691304  -3.165217
CLEVELAND     -2.491304  -3.056522  -9.895652   7.908696  -1.965217
DALLAS        -1.991304  -6.356522   0.204348  14.908696  -6.965217
DETROIT       -1.191304   1.843478 -10.795652   6.708696   3.634783
HONALULU       4.008696  14.043478  17.904348  30.208696  12.934783
HOUSTON       -2.991304  -8.256522   5.504348   5.608696  -6.365217
KANSAS CITY    0.808696  -2.956522   3.104348  -2.091304  -5.565217
LOS ANGELES    1.608696  -2.556522  -6.095652 -20.291304 -10.365217
MILWAUKEE     -4.991304  -2.256522  -8.495652   8.808696   5.134783
MINNEAPOLIS   -0.691304   0.343478 -10.395652   3.008696   1.934783
NEW YORK       5.508696  18.843478   3.704348   4.308696  13.834783
PHILADELPHIA  -0.791304   0.443478   4.404348  -4.991304  12.934783
PITTSBURGH     0.908696   3.543478  -2.095652  14.108696   0.534783
ST LOUIS       1.208696   0.543478  -1.495652  12.108696  -2.565217
SAN DIEGO      0.208696  -8.156522  -5.295652 -10.191304 -13.365217
SAN FRANCISCO  1.008696  -4.756522  -3.995652  -1.191304  -7.265217
SEATTLE       -2.791304 -14.156522  -0.295652 -11.891304  -3.865217
WASHINGTON DC -1.091304   1.943478   3.704348 -21.391304  -2.565217

## Calculate the Covariance Matrix

The next step for PCA is to calculate to covariance matrix for your normalized data. Do so here.

In [7]:
#Your code here
cov = df.cov()
cov

              Bread     Burger       Milk     Oranges   Tomatoes
Bread      6.284466  12.910968   5.719051    1.310375   7.285138
Burger    12.910968  57.077115  17.507530   22.691877  36.294783
Milk       5.719051  17.507530  48.305889   -0.275040  13.443478
Oranges    1.310375  22.691877  -0.275040  202.756285  38.762411
Tomatoes   7.285138  36.294783  13.443478   38.762411  57.800553

## Calculate the Eigenvectors

Next, calculate the eigenvectors for your covariance matrix.

In [8]:
#Your code here
eigen_value, eigen_vector = np.linalg.eig(cov)
eigen_vector

array([[-0.02848905, -0.16532108, -0.96716354, -0.18972574,  0.02135748],
       [-0.2001224 , -0.63218494,  0.24877074, -0.65862454,  0.25420475],
       [-0.0416723 , -0.44215032,  0.03606094,  0.10765906, -0.88874949],
       [-0.93885906,  0.31435473, -0.01521357, -0.06904699, -0.12135003],
       [-0.27558389, -0.52791603, -0.03429221,  0.71684022,  0.36100184]])

## Sorting the Eigenvectors to Determine Primary Components

Great! Now that you have the eigenvectors and their associated eigenvalues, sort the eigenvectors based on their eigenvalues!

In [9]:
#Your code here
e_indices = np.argsort(eigen_value)[::-1] #Get the index values of the sorted eigenvalues
eigenvectors_sorted = eigen_vector[:,e_indices]
eigenvectors_sorted

array([[-0.02848905, -0.16532108,  0.02135748, -0.18972574, -0.96716354],
       [-0.2001224 , -0.63218494,  0.25420475, -0.65862454,  0.24877074],
       [-0.0416723 , -0.44215032, -0.88874949,  0.10765906,  0.03606094],
       [-0.93885906,  0.31435473, -0.12135003, -0.06904699, -0.01521357],
       [-0.27558389, -0.52791603,  0.36100184,  0.71684022, -0.03429221]])

## Reprojecting the Data

Finally, reproject the dataset using your eigenvectors. Reproject the dataset down to 2 dimensions.

In [10]:
#Your code here
eigenvectors_sorted[:2]

array([[-0.02848905, -0.16532108,  0.02135748, -0.18972574, -0.96716354],
       [-0.2001224 , -0.63218494,  0.25420475, -0.65862454,  0.24877074]])

## Summary

Well done! You've now coded PCA on your own using NumPy! With that, it's time to look at further application of PCA.